@{
    ViewData["Title"] = "Home Page";
}

<div class="centered">

    <section class="cards">

        <article class="food-card">
            <img src="~/pics/fries.jpg" />
            <p>content for card one</p>
        </article><!-- /card-one -->

        <article class="food-card">
            <img src="~/pics/Rice1.jpg" />
            <p>content for card two</p>
        </article><!-- /card-two -->

        <article class="food-card">
            <img src="~/pics/Rice2.jpg" />
            <p>content for card three</p>
        </article><!-- /card-three -->

        <article class="food-card">
            <img src="~/pics/Rice3.jpg" />
            <p>content for card four</p>
        </article><!-- /card-four -->

    </section>

    <section class="cards">

        <article class="food-card">
            <p>content for card one</p>
        </article><!-- /card-one -->

        <article class="food-card">
            <p>content for card two</p>
        </article><!-- /card-two -->

        <article class="food-card">
            <p>content for card three</p>
        </article><!-- /card-three -->


    </section>
</div>



